@model Padaria.Models.pedidos

@{
    ViewBag.Title = "Create";
}

<form method="post" action="/pedidos/Pedido">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div>
                <h2 align="center"> Encomendar</h2>
                <img hspace="430" src="https://rlv.zcache.com/vintage_cake_emblem_logo_bakery_ii_sticker-rd490b5d7ed1b4b238e91a3a9f108d516_v9waf_8byvr_324.jpg" width="300" height="300" />
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantidade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Produto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Produto, new List<SelectListItem> {
                        new SelectListItem() {Text = "Coxinha", Value="Coxinha"},
                        new SelectListItem() {Text = "Kibe", Value="Kibe"},
                        new SelectListItem() {Text = "Esfiha", Value="Esfiha" },
                        new SelectListItem() {Text = "Empada", Value="Empada"} })
                    @Html.ValidationMessageFor(model => model.Produto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn-success">Encomendar</button>
                </div>
            </div>
        </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
