@model Padaria.Models.pedidos

@{
    ViewBag.Title = "Delete";
}

<div>
    <h3 align="center"> Apagar pedido</h3>
    <img hspace="420" src="https://rlv.zcache.com/vintage_cake_emblem_logo_bakery_ii_sticker-rd490b5d7ed1b4b238e91a3a9f108d516_v9waf_8byvr_324.jpg" width="300" height="300" />
</div>

<h4 align="center">Deseja realmente excluir o pedido?</h4>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Quantidade)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Produto)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Quantidade)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Produto)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color" align="center">
        <input type="submit" value="Apagar Pedido" class="btn btn-default" />

    </div>
}
</div>
